<div style="width:50%; margin:0 auto;font-size:50px;text-align:center;color:green;font-weight:bold;">
  <br><br><br><br>Obrigado! Volte sempre!
</div>

<%= button_to '', root_path, :style => "position: absolute; right: 0; bottom: 0; background-color:#CCC;", :method => :get %>
