// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-card-type{
  width: 100%;
  font-size: 2.0em;
  font-weight: bold;
}

.btn-eval{
  font-size: 25px;
  font-weight: bold;
}
